/** Reset */
/* v2.0 | 20110126

http://meyerweb.com/eric/tools/css/reset/

  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** -- End of reset.css --*/

/** Tooltip **/
div > .tooltip, li > .tooltip, a > .tooltip, span > .tooltip {
    opacity: 0;
    margin-top: -10px;
    visibility: hidden;
    margin-left: -65px;

    -webkit-transition-property: opacity, margin-top, visibility, margin-left;
    -webkit-transition-duration: 0.5s, 0.3s, 0.5s, 0.3s;
    -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;

    -moz-transition-property: opacity, margin-top, visibility, margin-left;
    -moz-transition-duration: 0.5s, 0.3s, 0.5s, 0.3s;
    -moz-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;

    -o-transition-property: opacity, margin-top, visibility, margin-left;
    -o-transition-duration: 0.5s, 0.3s, 0.5s, 0.3s;
    -o-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;

    transition-property: opacity, margin-top, visibility, margin-left;
    transition-duration: 0.5s, 0.3s, 0.5s, 0.3s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in;
}

div:hover > .tooltip, li:hover > .tooltip, a:hover > .tooltip, span:hover > .tooltip,
a .tooltip:hover, span .tooltip:hover, li .tooltip:hover, div .tooltip:hover {
    opacity: 1;
    visibility: visible;
    overflow: visible;
    margin-top: 30px;
    display: inline;
    margin-left: -40px;

    -webkit-transition-property: opacity, margin-top, visibility, margin-left;
    -webkit-transition-duration: 0.5s, 0.3s, 0.5s, 0.3s;
    -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;

    -moz-transition-property: opacity, margin-top, visibility, margin-left;
    -moz-transition-duration: 0.5s, 0.3s, 0.5s, 0.3s;
    -moz-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;

    -o-transition-property: opacity, margin-top, margin-left;
    -o-transition-duration: 0.5s, 0.3s, 0.3s;
    -o-transition-timing-function: ease-in-out, ease-in-out, ease-in-out;

    transition-property: opacity, margin-top, visibility, margin-left;
    transition-duration: 0.5s, 0.3s, 0.5s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
}

.tooltip {
    background: #FFFBCF;
    background: -moz-linear-gradient(top, #FFFBCF 0%, #FFFCDF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFBCF), color-stop(100%, #FFFCDF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FFFBCF', endColorstr = '#FFFCDF', GradientType = 0);

    border: 1px solid #EFE795;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    padding: 10px;
    margin-left: -40px;

    position: absolute;

    font-family: Arial;
    font-size: 12px;
    text-decoration: none;
    font-style: normal;
    color: #777;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;

    z-index: 10;
}

.tooltip span {
    /* Triangle */
    background: #FFFBCF;

    border: 0;
    border-top: 1px solid #EFE795;
    border-right: 1px solid #EFE795;

    width: 10px;
    height: 10px;
    margin-left: 15px;
    margin-top: -16px;

    display: block;
    position: absolute;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);

    -webkit-box-shadow: inset -1px 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -o-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;

    display /*\**/: none\9;
    *display: none !important;
    *display: none;
}

* {
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Ropa Sans', sans-serif;
}

body {
    height: 100%;
    width: 960px;
    margin: 0 auto;
    color: #D8D8D8;
    line-height: 20px;
    background: url("../images/bg_smaller.jpg") bottom right no-repeat;
}

@font-face {
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Ropa Sans'), local('RopaSans-Regular'), url("RopaSans.woff") format('woff');
}

@font-face {
    font-family: 'Coming Soon';
    font-style: normal;
    font-weight: 400;
    src: local('Coming Soon'), local('ComingSoon'), url("CommingSoon.woff") format('woff');
}

footer, header {
    height: 48px;
    z-index: 100;
    width: 100%;
    padding: 10px;
    -webkit-box-shadow: 0 0 0 -6px black;
    -moz-box-shadow: 0 0 0 -6px black;
    box-shadow: 0 0 0 -6px black;
    background-color: rgba(0, 0, 0, 0.1);
    color: yellow;
    font-family: Tahoma;
    font-size: 13px;
    position: relative;
    outline: 1px solid rgba(255, 255, 255, 0.15);
}

a {
    color: #f78d1d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header a {
    color: yellow;
}

.highlight a {
    color: #000000;
    text-decoration: none;
}

.main {
    text-align: center;
    overflow: auto;
    padding: 25px 10px 64px;
    min-height: 100%;
    margin: 0 auto;
    display: table;

}

.main:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
}

/* must be same height as the footer */
footer {
    margin-top: -68px; /* negative value of footer height */
    clear: both;
    line-height: 48px;
}

.menuNav {
    list-style: none;
    line-height: 48px;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    right: 50px;
}

.menuNav li {
    display: inline-block;
    padding: 0 15px 0 0;
    opacity: 0.65;
}

.menuNav li:hover {
    cursor: pointer;
    opacity: 1;
}

.pageContent {
    min-height: 100%;
    height: 100%;
    z-index: 100;
    margin: 0 auto -64px; /* the bottom margin is the negative value of the footer's height */
}

.logo {
    background: url("../images/logo_48.png") top center no-repeat;
    width: 48px;
    height: 48px;
    display: inline-block;
}

.dialog {
    /*
    background: -moz-radial-gradient(50% 46% 90deg, circle closest-corner, #242424, #242424);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 150, from(#242424), to(#242424));
    */
    width: 321px;
    padding: 25px;
    box-shadow: 0px 0px 5px rgba(24, 24, 24, 1) inset, 2px 2px 25px;
    margin: 10px auto;
    border-radius: 25px;
    background: rgba(24, 24, 24, 0.5);
    position: relative;
    text-align: left;
    display: inline-block;
}

.dialog label {
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
}

.dialog input[type=text], .dialog input[type=password] {
    display: inline-block;
    width: 200px;
    background: rgba(24, 24, 24, 0.45);
    -moz-box-shadow: 0px 0px 4px #242424 inset;
    -webkit-box-shadow: 0px 0px 4px #242424 inset;
    box-shadow: 0px 0px 1px #242424 inset;
    outline: 1px solid rgba(255, 255, 255, 0.25);
    border: 1px solid #242424;
    color: #f78d1d;
    font-size: 12px;
    font-weight: normal;
    padding: 0 0 0 3px;
    height: 15px;
    margin: 2px 0;
}

.dialog input[type=text].input_error, .dialog input[type=password].input_error {
    background-color: rgba(255, 0, 0, 0.85);
    color: white;
}

.dialog input:focus {
    outline: 1px solid #555;
    background: rgba(24, 24, 24, 0.75);

}

.dialog .highlight {
    background-color: rgba(192, 192, 192, 0.75);
    padding: 0 3px;
    color: #000000;
    border-radius: 3px;
}

/** Orange button */
.button {
    width: 125px;
    font-size: 14px;
    padding: 0 20px;
    margin: 10px 0 0 0;
    display: inline-block;
    zoom: 1;
    display: inline-block;
    vertical-align: baseline;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.orange {
    color: rgba(0, 0, 0, 0.85);
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top, #faa51a, #f47a20);
}

.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top, #f88e11, #f06015);
}

.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top, #f47a20, #faa51a);
}

.button.disabled, .button.disabled:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(250, 165, 26, 0.5)), to(rgba(244, 122, 32, 0.5)));
    background: -moz-linear-gradient(top, #faa51a, #f47a20);
    cursor: url("../images/no_entry.gif"), auto;
    color: rgba(0, 0, 0, 0.55);
    border: solid 1px rgba(218, 124, 12, 0.5);
}

.signupImg {
    float: left;
    padding: 4px 10px 0 0;
    height: 32px;
    width: 32px;
}

.users .dialog {
    width: 400px;
}

.users .dialog input[type=text] {
    width: 200px;
}

.users .dialog {
    width: 400px;
}

.dialog .label {
    width: 105px;
}

.buttons {
    text-align: center;
    width: 100%;
    vertical-align: middle;
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
}

.blink {
    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
    -webkit-animation-duration: 3s;
}

.hidden {
    display: none !important;
}

.required:before {
    content: "*";
    color: red;
    padding: 0 5px 0 0;
    font-weight: bold;
    line-height: 25px;
    vertical-align: middle;
}

.cssButtons label {
    cursor: pointer;
}

.cssButtons label input[type="checkbox"],
.cssButtons label input[type="radio"],
.cssButtons label input[type="checkbox"] + span,
.cssButtons label input[type="radio"] + span,
.cssButtons label input[type="checkbox"] + span::before,
.cssButtons label input[type="radio"] + span::before {
    vertical-align: middle;
}

.cssButtons label input[type="checkbox"],
.cssButtons label input[type="radio"] {
    position: absolute;
    filter: alpha(opacity = 0);
    -moz-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
}

.cssButtons label input[type="checkbox"] + span,
.cssButtons label input[type="radio"] + span,
.cssButtons label input[type="checkbox"] + span::before,
.cssButtons label input[type="radio"] + span::before {
    display: inline-block;
}

.cssButtons label input[type="checkbox"] + span,
.cssButtons label input[type="radio"] + span {
    font: normal 13px/14px "Segoe UI", Sans-serif;
}

.cssButtons label input[type="checkbox"] + span::before {
    content: "\2714";
}

.cssButtons label input[type="checkbox"] + span::before,
.cssButtons label input[type="radio"] + span::before {
    text-indent: -9999px;
    width: 12px;
    height: 12px;
    font: bold 12px/12px Garamond, "Segoe UI", Sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px #ccc;
    background: #0b70cd;
    background: -moz-linear-gradient(-45deg, #fefefe, #242424);
    background: -webkit-linear-gradient(-45deg, #fefefe, #242424);
    background: -o-linear-gradient(-45deg, #fefefe, #242424);
    background: -ms-linear-gradient(-45deg, #fefefe, #242424);
    background: linear-gradient(-45deg, #fefefe, #242424);
    margin: 0 4px 0 0;
}

.cssButtons label:hover input[type="checkbox"]:not(:disabled) + span::before,
.cssButtons label:hover input[type="radio"]:not(:disabled) + span::before {
    background: #242424;
    background: -moz-linear-gradient(45deg, #fefefe, #242424);
    background: -webkit-linear-gradient(45deg, #fefefe, #242424);
    background: -o-linear-gradient(45deg, #fefefe, #242424);
    background: -ms-linear-gradient(45deg, #fefefe, #242424);
    background: linear-gradient(45deg, #fefefe, #242424);
    box-shadow: 0 0 1px 2px #ccc;
}

.cssButtons label input[type="checkbox"]:checked + span::before,
.cssButtons label input[type="radio"]:checked + span::before {
    text-indent: 2px;
    color: #fff;
    text-shadow: 0 0 2px #242424;
}

.cssButtons label input[type="radio"] + span::before {
    content: "\2022";
    font-size: 22px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

.cssButtons label input[type="radio"]:checked + span::before {
    text-indent: 2px;
}

.cssButtons label input[type="checkbox"]:disabled + span::before,
.cssButtons label input[type="radio"]:disabled + span::before {
    filter: alpha(opacity = 50);
    -moz-opacity: .5;
    -webkit-opacity: .5;
    opacity: .5;
}

.cssButtons label input[type="checkbox"]:disabled + span,
.cssButtons label input[type="radio"]:disabled + span,
.cssButtons label input[type="checkbox"]:disabled + span::before,
.cssButtons label input[type="radio"]:disabled + span::before {
    cursor: default;
}

.ajaxLoader {
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url('../images/ajax-loader.gif');
    height: 16px;
    width: 16px;
    margin: -8px -8px;
}

.dialog .spacer:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 1px;
    margin: 10px;
    background: -moz-linear-gradient(left, rgba(192, 192, 192, 0) 0%, rgba(192, 192, 192, 0.8) 20%, rgba(192, 192, 192, 1) 53%, rgba(192, 192, 192, 0.8) 79%, rgba(192, 192, 192, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(192, 192, 192, 0)), color-stop(20%, rgba(192, 192, 192, 0.8)), color-stop(53%, rgba(192, 192, 192, 1)), color-stop(79%, rgba(192, 192, 192, 0.8)), color-stop(100%, rgba(192, 192, 192, 0)));
    background: -webkit-linear-gradient(left, rgba(192, 192, 192, 0) 0%, rgba(192, 192, 192, 0.8) 20%, rgba(192, 192, 192, 1) 53%, rgba(192, 192, 192, 0.8) 79%, rgba(192, 192, 192, 0) 100%);
    background: -o-linear-gradient(left, rgba(192, 192, 192, 0) 0%, rgba(192, 192, 192, 0.8) 20%, rgba(192, 192, 192, 1) 53%, rgba(192, 192, 192, 0.8) 79%, rgba(192, 192, 192, 0) 100%);
    background: -ms-linear-gradient(left, rgba(192, 192, 192, 0) 0%, rgba(192, 192, 192, 0.8) 20%, rgba(192, 192, 192, 1) 53%, rgba(192, 192, 192, 0.8) 79%, rgba(192, 192, 192, 0) 100%);
    background: linear-gradient(left, rgba(192, 192, 192, 0) 0%, rgba(192, 192, 192, 0.8) 20%, rgba(192, 192, 192, 1) 53%, rgba(192, 192, 192, 0.8) 79%, rgba(192, 192, 192, 0) 100%);
}

.dialog h1 {
    color: rgb(247, 141, 29);
    font-size: 48px;
    text-align: center;
    line-height: 48px;
}

.login .buttons {
    text-align: right;
    margin: 0 0 0 -22px;
}

.loginImg {
    height: 48px;
    width: 48px;
    line-height: 48px;
    vertical-align: middle;
}

.dialog .error {
    text-shadow: 1px 1px 1px rgba(0, 0, 51, 0.25);
    padding: 3px 0;
    background-color: rgb(30, 32, 38);
    border-radius: 5px;
    text-align: center;
    margin: 3px;
    box-shadow: 0 0 25px red;
    color: rgba(255, 255, 255, 0.75);
}

.inline_error {
    margin: 0 0 0 110px;
    color: yellow;
    font-size: 12px;
    line-height: 12px;
    padding: 0 0 2px 0;
    font-family: 'Coming Soon', cursive;
}

.dialog .status_img {
    vertical-align: middle;
}

.backoffice .dialog img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.backoffice table {
    color: rgba(255, 255, 255, 0.75);
    width: 100%;
    padding: 25px 10px;
}

.backoffice thead {
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.75);
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 1);
    background-image: linear-gradient(bottom, rgba(115, 200, 245, 0.75) 0%, rgba(150, 192, 255, 0.25) 100%);
    background-image: -o-linear-gradient(bottom, rgba(115, 200, 245, 0.75) 0%, rgba(150, 192, 255, 0.25) 100%);
    background-image: -moz-linear-gradient(bottom, rgba(115, 200, 245, 0.75) 0%, rgba(150, 192, 255, 0.25) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(115, 200, 245, 0.75) 0%, rgba(150, 192, 255, 1) 100%);
    background-image: -ms-linear-gradient(bottom, rgba(115, 200, 245, 0.75) 0%, rgba(150, 192, 255, 0.25) 50%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(115, 200, 245, 0.75)), color-stop(1, rgba(150, 192, 255, 0.25)));

}

.backoffice th {
    padding: 5px;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.backoffice td {
    color: rgba(255, 161, 0, 0.75);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 3px;
}

.backoffice tbody tr:hover {
    background-color: #ccc;
    cursor: pointer;
}

.backoffice tbody tr:hover td {
    color: #000000;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.backoffice .dialog {
    width: 100%;;
}

.backoffice .dialog img.adminImg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.center {
    text-align: center;
}